body {
    height: 100vh;
}

main{
    height: 100vh;
}

.auth-pages
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-height: 100%;
    padding: 8px;
    gap: 8px;
}

.logo-auth
{
    position: absolute;
    top: 0;
    left: 0;
    margin: 16px;
    width: 200px !important;
}

.form-auth {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333333;
    width: 50%;
    padding: 16px;
    gap: 16px;

    *
    {
        width: 75%;
    }

    p{
        margin: 0;
    }

    a, a:visited, a:link
    {
        color: #1c3856;
        text-decoration: none;
        font-weight: bold;
    }

    .header-auth
    {
        text-align: center;

        h1,p
        {
            margin: 0;
            width: 100%;
        }
    }

    .error-auth
    {
        background-color: #ffdddd;
        color: #a94442;
        border: 1px solid #a94442;
        padding: 10px;
        border-radius: 4px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 8px;

        &.hide
        {
            display: none;
        }

        svg{
            max-width: max-content;
        }
    }

    label
    {
        color: #333333;
    }

    .input-group
    {
        padding: 0;

        input{
            border: solid 1px #d4d4d4;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            height: 36px;
        }
    }

    button[type="submit"]
    {
        background-color: #1c3856;
        color: white;
        border: none;
        padding: 12px;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
        font-weight: bold;
        transition: background-color 0.3s ease;

        &:hover
        {
            background-color: #16314a;
        }
    }
}

.info-auth
{
    height: calc(100vh - 16px);
    position: relative;
    background: #1c3856;
    border-radius: 10px;
    flex-grow: 1;
}

@media (max-width: 900px)
{
    .info-auth
    {
        display: none;
    }

    .logo-auth
    {
        position: relative;
        width: 300px !important;
    }

    .form-auth
    {
        width: 100%;
    }
}