.dashboard-content {
    display: flex;
    flex-direction: row;
}

h1, h2, h3
{
    margin: 0;
}

.dashboard-main
{
    padding: 16px;
    flex-grow: 1;
}

/**region DASHBOARD**/

.dashboard-home
{
    display: flex;
    flex-direction: column;
    color: #1c3856;
    padding: 16px;
    width: 100%;
}

.dashboard-metrics
{
    display: flex;
    flex-direction: row;
    gap: 16px;
    width: 100%;
    
    .metrics-card
    {
        display: flex;
        flex-direction: column;
        gap: 16px;
        background-color: #d9d9d9;
        border-radius: 10px;
        padding: 16px;
        flex: 1;

        p{
            margin: 0;
        }

        .value-metric
        {
            font-size: 48px;
            font-weight: bold;
        }
    }
}

/**endregion**/

/**region PROFILE**/

.profil-header
{
    width: 100%;
    background-color: #d9d9d9;
    border-radius: 10px;
    color: #1c3856;

    label
    {
        color: #1c3856;
    }
}

/**endregion**/