.stepper
{
    display: flex;
    flex-direction: row;
}

.stepper-item
{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    gap: 8px;
    width: 100%;

    &.passed{
        div{
            background: #1c3856;
        }
    }

    &.active{
        div{
            background: radial-gradient(closest-side, #f5f5f5 69%, transparent 70% 100%),#1c3856;
            transition-delay: 300ms;
        }
    }

    p{
        margin: 0;
    }

    div{
        border-radius: 50%;
        height: 10px;
        aspect-ratio: 1 / 1;
        background: radial-gradient(closest-side, #f5f5f5 69%, transparent 70% 100%),#A6C3E2;
        z-index: 2;
        display: flex;
        align-items: center;
        transition: all 200ms ease-out;
    }
}

.stepper-item:not(:last-child)
{
    &.passed::after
    {
        width: 100%;
    }

    &::after
    {
        content: "";
        position: absolute;
        transition: all 300ms ease-in;
        width: 0;
        top: 88%;
        left: 50%;
        height: 4px;
        background-color: #1c3856;
    }

    &::before
    {
        content: "";
        position: absolute;
        width: 100%;
        top: 88%;
        left: 50%;
        height: 4px;
        background-color: #A6C3E2;
    }
}