.contact-form
{
    background-color: #1c3856;
    border-radius: 10px;
    padding: 8px;
    margin-bottom: 16px;
}

.form-title
{
    color: #f5f5f5;
    margin: 0;
    font-size: 32px;
    text-transform: none;
}

.parts-wrapper
{
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-top: 8px;
}

.information-part
{
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 8px;

    h4
    {
        margin: 0;
        color: #f5f5f5;
        text-transform: none;
    }
}

.form-part
{
    width: 400px;
}

.information-item
{
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.information-item-icon
{
    background: #f5f5f5;
    min-width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    svg
    {
        color: #1c3856;
        font-size: 25px;
    }
}

.information-item-text
{
    width: auto;

    p, strong
    {
        margin: 0;
        overflow-wrap: break-word;
    }
}

@media (max-width: 980px)
{
    .contact-form
    {
        width: 90%;
    }

    .parts-wrapper
    {
        flex-direction: column-reverse;
    }

    .information-part, .form-part
    {
        width: 100%;
    }

    .information-part
    {
        padding: 0 16px 16px 16px;
    }

    .form-title
    {
        padding: 8px 8px 0 8px;
    }
}