.modal-backdiv
{
    display: none;
    position: fixed;
    z-index: 1;
    width: 100dvw;
    height: 100dvh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);

    &.open
    {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.modal-container
{
    position: relative;
    padding: 24px;
    max-width: 800px;
    width: 800px;
    background-color: #f5f5f5;
    border-radius: 10px;
}

.modal-close-button
{
    position: absolute;
    top: 16px;
    right: 16px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    z-index: 50;
}