.modal-backdiv
{
    display: none;
    position: fixed;
    z-index: 10000;
    width: 100dvw;
    height: 100dvh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);

    &.open
    {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.modal-container
{
    position: relative;
    padding: 24px;
    max-width: 1200px;
    width: 1200px;
    border-radius: 10px;

    &.blue
    {
        color: var(--color-white);
        background-color: var(--color-blue);
    }

    &.white
    {
        color: #333333;
        background-color: var(--color-white);
    }
}

.modal-close-button
{
    position: absolute;
    top: 16px;
    right: 16px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    z-index: 50;
}

@media (max-width : 980px)
{
    .modal-backdiv
    {
        height: 100%;

        &.open
        {
            justify-content: center;
            align-items: flex-start;
            padding: 8px;
            overflow: hidden;
        }
    }

    .modal-container
    {
        width: 95%;
        height: 100%;
        overflow: scroll;

        &::-webkit-scrollbar {
            display: none;
        }

        /* Hide scrollbar for IE, Edge and Firefox */
        & {
            -ms-overflow-style: none;  /* IE and Edge */
            scrollbar-width: none;  /* Firefox */
        }
    }
}