@import "tailwindcss";

:root
{
    --color-blue: #1c3856;
    --color-gold: #b08f62;
    --color-white: #f5f5f5;
}

@font-face {
    font-family: "Poppins";
    src: url("../assets/fonts/Poppins.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("../assets/fonts/Poppins-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("../assets/fonts/Poppins-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url("../assets/fonts/OpenSans.ttf") format("truetype");
}

html {
  font-size: 16px;
  line-height: 32px;

  background: #F5F5F5;
  -webkit-font-smoothing: antialiased;
  font-family: "Open Sans", sans-serif;
}

a
{
    
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    z-index: 100;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #1c3856;
}



.navbar-wrapper
{
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    position: fixed;
    top: 26px;
    width: 100vw;
    z-index: 9999;

    .navbar-links
    {
        display: flex;
        gap: 16px;
        font-size: 16px !important;
        text-transform: capitalize;
    }

}

.navbar-container 
{
    background-color: #F5F5F5 ;
    padding: 5px 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    width: 900px;
    height: 60px;

    @media (max-width: 980px) {
        width: 90%;
    }
    
}

.kadaur-logo
{
    width: 200px;
}

.subnavbar-container
{
    background-color: #F5F5F5 ;
    padding: 5px 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-radius: 10px;
    width: 900px;
    height: 70px;

    @media (max-width: 980px) {
        width: 90%;
        height: auto;

    }
}

.subnavbar-container.hide
{
    display: none;
}

.navbar-link
{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
    text-decoration: none;
    color: #1c3856;
    font-weight: 600;
    font-size: 14px;
    border: none;
    cursor: pointer;
    text-transform: capitalize;
    background-color: transparent;
    padding: 0 8px;
    font-family: "Open-Sans", sans-serif;
    width: max-content;

    &:hover, &.active
    {
        border-radius: 5px;
        background-color: #1c3856;
        color: #F5F5F5;
    }

    

    .subnavbar-links
    {
        position: absolute;
        top: calc(100%);
        background-color: #F5F5F5;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    }

    @media (max-width : 980px) {
    
        flex-direction: column;
        align-items: flex-end;
        font-size: 20px;
        padding: 8px 0;
        margin: 8px;

        &:hover, &.active
        {
            border-radius: 0;
            background-color: #F5F5F5;
            color: #1c3856;
        }

        .subnavbar-links
        {
            position: relative;
            background-color: transparent;
            padding: 16px 16px 0;
            box-shadow: none;
            border-radius: 0;
            gap: 16px;
            border-right: solid 2px #1c3856;
        }
    }
        

    
}

.subnavbar-links
{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px;
    width: max-content;
    margin-top: 25px;

    a
    {
        width: 100%;
        padding: 4px 12px;
        text-align: start;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        height: 40px;
    }

    &.hide
    {
        display: none;
    }

    &::before{
        content: "";
        position: absolute;
        top: -7px;
        left: 50%;
        width: 15px;
        height: 15px;
        background-color: #f5f5f5;
        transform: translateX(-50%) rotate(45deg);
    }

    @media (max-width : 980px) {
        flex-direction: column;
        align-items: flex-end;
        gap: 0;
        margin-top: 0;

        .navbar-link
        {
            width: 100%;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            padding: 8px 0;
        }

        &::before{
            display: none;
        }
    }
}

.navbar-button
{
    background-color: #1c3856;
    color : #b08f62;
    border: none;
    border-radius: 5px;
    padding: 4px 16px;
    cursor: pointer;
    font-weight: 600;
    transition: all 500ms ease;
    font-size: 14px;
    font-family: "Open-Sans", sans-serif;
    text-decoration: none;
    text-transform: capitalize;

    &:hover
    {
        background-color: #16314a;
    }

    @media (max-width : 980px) {
        font-size: 20px;
    }
}



.hero-section
{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
    padding: 50px 0;
    color: #1c3856;

    h1{
        font-size: 44px;
        text-transform: uppercase;
        font-weight: bold;
        margin: 24px;
        width: 990px;
        text-align: center;
    }

    button, a
    {
        font-size: 32px;
        font-weight: bold;
        font-family: "Poppins", sans-serif;
    }

    p{
        font-size: 20px;
        margin: 48px 0 0 0 ;
        text-align: center;
        font-family: "Open Sans", sans-serif;
        font-weight: bold;
    }

    svg
    {
        font-weight: bold;
        height: 35px;
        width: auto;
    }

    img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        opacity: 0.3;
        z-index: -1;
        filter: brightness(0.8);
    }

    @media (max-width: 980px) {
        padding: 2rem;
        max-width: 100vw;

        h1{
            font-size: 24px;
            margin: 12px 0;
            font-weight: bold;
            width: 100%;
        }

        button
        {
            font-size: 20px;
        }

        p{
            font-size: 16px;
            margin: 12px 0;
        }
    }
    
}

.kadaur-button
{
    
    border: none;
    border-radius: 5px;
    padding: 0.5rem 2rem;
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    transition: all 500ms ease;
    font-size: 18px;
    margin: 16px 0 ;
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;

    &.blue
    {
        background-color: #1c3856;
        color: white;

        &:hover
        {
            background-color: #0b1f35;
        }
    }

    &.white
    {
        background-color: #F5F5F5;
        color: #1c3856;

        &:hover
        {
            background-color: #d9d9d9;
        }
    }
}




.footer
{
    background-color: #1c3856;
    color: white !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1rem 2rem;

    img
    {
        width: 400px;
    }

    svg{
        height: 50px;
    }
    

    h2
    {
        margin: 0;
        font-size: 24px;
        font-weight: bold;
    }

    a{
        font-size: 20px;
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        font-weight: bold;
        margin: 15px 0

    }

    p 
    {
        margin: 0;
        font-size: 16px;
        font-family: "Open Sans", sans-serif;
    }

    .footer-content
    {
        display: flex;
        flex-direction: row;
        gap: 32px;
        width: 80%;
    }

    .footer-social-media
    {
        display: flex;
        flex-direction: row;
        gap: 16px;

        a {
            margin: 0;
        }
    }

    .footer-contact
    {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 16px;
        

        p {
            align-self: center;
        }
    }

    .footer-legal
    {
        display: flex;
        gap: 24px;
        font-size: 16px;

        a{
            font-size: 16px;
            text-decoration: none;
            color: white;
            text-transform: none;
            font-weight: normal;
            margin: 0;
        }
    }

    
    .footer-left{
        flex-grow: 1;
    }

    .footer-left, .footer-center, .footer-right
    {
        display: flex;
        flex-direction: column;
        gap: 8px;
        color: white;

        h2 {
            color: white;
        }
    }

    .footer-right
    {
        gap : 16px;
        align-items: flex-end;
    }

    .footer-bottom
    {
        grid-column: span 3;
        font-size: 16px;
        font-family: "Open Sans", sans-serif;
        display: flex;
        justify-content: space-between;
        border-top: solid 1px white;
        margin-top: 1rem;
        width: 100%;
    }

    @media (max-width: 900px)
    {
        display: flex;
        flex-direction: column;
        gap: 16px;
        align-items: center;
        text-align: center;

        .footer-contact
        {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .footer-content
        {
            flex-direction: column;
        }

        .footer-social-media
        {
            justify-content: center;
        }

        .footer-right
        {
            align-items: center;
        }

        .footer-bottom
        {
            flex-direction: column-reverse;
            gap: 1rem;
        }

        .footer-legal
    {
        display: flex;
        flex-direction: column;
    }
    }
}

.section-title
{
    margin: 16px 0 0 0;
    font-size: 48px;
}

.section-subtitle
{
    margin: 0 0 16px 0;
    color: #333333;
    text-align: center;
    font-size: 20px;
}

.mobile-only
{
    display: none;
}

.desktop-only
{
    display: initial;
}

.item-slider
{
    position: relative;
    background-clip: text !important;
    -webkit-text-fill-color: transparent;
}

@media (max-width : 980px)
{
    .mobile-only
    {
        display: flex !important;
        flex-direction: row;
        justify-content: flex-end;
    }

    .desktop-only
    {
        display: none !important;
    }

    .navbar-button-mobile
    {
        padding: 8px 16px;
        width: 100%;

        svg
        {
            height: 35px;
            width: auto;
        }

    }
}