@font-face {
    font-family: "Poppins";
    src: url("../assets/fonts/Poppins.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url("../assets/fonts/OpenSans.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

a
{
    
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    z-index: 100;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #1c3856;
}



.navbar-wrapper
{
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    position: fixed;
    top: 26px;
    width: 100vw;
    z-index: 9999;

    .navbar-links
    {
        display: flex;
        gap: 16px;
        font-size: 16px !important;

        a
        {
            text-decoration: none;
            color: #1c3856;
            font-weight: 600;
            font-size: 16px !important;
        }

        button
        {
            background-color: #1c3856;
            color : #b08f62;
            border: none;
            border-radius: 5px;
            padding: 8px 16px;
            cursor: pointer;
            font-weight: 600;
            transition: all 500ms ease;
            font-size: 16px !important; 

            &:hover
            {
                background-color: #16314a;
            }
        }
    }

}

.navbar-container 
{
    background-color: #F5F5F5 ;
    padding: 5px 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    width: 900px;
    height: 70px;

    @media (max-width: 980px) {
        width: 90%;
    }
    
}

.subnavbar-container
{
    background-color: #F5F5F5 ;
    padding: 5px 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-radius: 10px;
    width: 900px;
    height: 70px;

    @media (max-width: 980px) {
        width: 90%;
    }
}

.subnavbar-container.hide
{
    display: none;
}

.hero-section
{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
    padding: 50px 0;
    color: #1c3856;

    h1{
        font-size: 44px;
        text-transform: uppercase;
        font-weight: bold;
        margin: 24px;
        width: 990px;
        text-align: center;
    }

    button
    {
        font-size: 32px;
        font-weight: bold;
        font-family: "Poppins", sans-serif;
    }

    p{
        font-size: 20px;
        margin: 48px;
        text-align: center;
        font-family: "Open Sans", sans-serif;
        font-weight: bold;
    }

    img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        opacity: 0.3;
        z-index: -1;
    }

    @media (max-width: 980px) {
        padding: 2rem;
        max-width: 100vw;

        h1{
            font-size: 24px;
            margin: 12px 0;
            font-weight: bold;
            width: 100%;
        }

        button
        {
            font-size: 20px;
        }

        p{
            font-size: 16px;
            margin: 12px 0;
        }
    }
    
}

.kadaur-button
{
    background-color: #1c3856;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 0.5rem 2rem;
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    transition: all 500ms ease;
    font-size: 18px;
    margin: 16px 0 ;
}

.kadaur-button:hover
{
    background-color: #16314a;
}

.footer
{
    background-color: #333333;
    color: white !important;
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    padding: 1rem 2rem;

    img
    {
        width: 90%;
    }

    svg{
        height: 50px;
    }
    

    h2
    {
        margin: 0;
        font-size: 24px;
        font-weight: bold;
    }

    a{
        font-size: 20px;
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        font-weight: bold;
        margin: 15px 0

    }

    p 
    {
        margin: 0;
        font-size: 16px;
        font-family: "Open Sans", sans-serif;
    }

    .footer-contact
    {
        display: grid;
        grid-template-columns: 50px 1fr;
        gap: 16px;
        

        p {
            align-self: center;
        }
    }

    .footer-legal
    {
        display: flex;
        gap: 24px;
        font-size: 16px;
        margin-top: 8px;

        a{
            font-size: 16px;
            text-decoration: none;
            color: white;
            text-transform: none;
            font-weight: normal;
            margin: 0;
        }
    }

    

    .footer-left, .footer-center, .footer-right
    {
        display: flex;
        flex-direction: column;
        gap: 8px;
        color: white;

        h2 {
            color: white;
        }
    }

    .footer-right
    {
        gap : 16px;
    }

    .footer-bottom
    {
        grid-column: span 3;
        font-size: 16px;
        font-family: "Open Sans", sans-serif;
        display: flex;
        justify-content: space-between;
        border-top: solid 1px white;
        margin-top: 1rem;
    }

    @media (max-width: 900px)
    {
        display: flex;
        flex-direction: column;
        gap: 16px;
        align-items: center;
        text-align: center;

        .footer-contact
        {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .footer-bottom
        {
            flex-direction: column-reverse;
            gap: 1rem;
        }

        .footer-legal
    {
        display: flex;
        flex-direction: column;
    }
    }
}

.section-title
{
    margin: 16px 0 0 0;
}

.section-subtitle
{
    margin: 0 0 16px 0;
}