.payload-richtext {
    color: #333333;
}

:target {
  scroll-margin-top: 100px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100dvh;
}

.dyn-pages
{
    margin: 100px auto 16px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    gap: 16px;
    max-width: 990px;

    h1, h2
    {
        margin: 0;
    }

    @media (max-width: 980px) {
        max-width: 95%;
    }
}

.headtitle{
    text-align: center;

    h1
    {
        margin-top: 10px;
        font-size: 36px;
        line-height: 40px;
    }

    h2{
        color: #333333;
        font-weight: normal;
        font-size: 20px;
    }
}

ol, ul, menu {
    list-style: initial;
    margin: auto 20px;
}