*
{
    box-sizing: border-box;
    font-family: "Open-Sans", sans-serif;
}

.offers-main
{
    height: 100dvh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.offers-container
{
    width: 1200px;
    display: flex;
    flex-direction: column;
}

.offers-slider-btn
{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 8px;

    a
    {
        position: relative;
        width: 100%;
        height: 100px;
        background-color: #d9d9d9;
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        gap: 16px;
        align-items: center;
        justify-content: flex-start;
        padding: 1rem;
        text-decoration: none;

        &.active
        {
            background-color: #1c3856;

            h3
            {
                color: #f9f9f9;
            }
        }

        &.active::after
        {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translate(-50%, -50%) rotateZ(45deg);
            display: flex;
            align-self: center;
            justify-items: center;
            width: 40px;
            height: 40px;
            background-color: #1c3856;
        }

    }
}

.offer-icon
{
    background-color: #b08f62;
    border-radius: 50%;
    height: 75px;
    width: 75px;
    display: flex;
    justify-content: center;
    align-items: center;

    &.gold {
        background-color: #b08f62;
    }

    &.green {
        background-color: #6BB062;
    }

    &.blue {
        background-color: #6278B0;
    }

    &.red {
        background-color: #B0626C;
    }

    svg
    {
    color: #333333;
    height: 40px;
    width: auto;
    }
}

.offer-content
{
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-top: 30px;
}

.offer-slider
{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    max-width: calc(100% - 458px);
    width: calc(100% - 458px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: auto;
    scrollbar-color: transparent transparent;
    scrollbar-width: 0px;

    .offer-infos
    {
        min-width: 100%;
        scroll-snap-align: start;

        h4, p
        {
            margin: 0;
        }

        h4
        {
            font-size: 24px;
        }

        p
        {
            font-size: 20px;
            color: #333333;
        }
    }
}


.offer-form
{
    min-width: 450px;
    background-color: #1c3856;
    border-radius: 10px;
    padding: 16px 8px;

    h4
    {
        color: #f9f9f9;
        margin: 0;
        text-align: center;
        font-size: 32px;
    }
}

.offer-usps
{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px;
}

.usp
{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    

    svg
    {
        background-color: #1c3856;
        padding: 0.5rem;
        border-radius: 50%;
        color: #f9f9f9;
        height: 20px;
        width: 20px;
    }

    p{
        color: #333333;
        font-size: 16px !important;
    }
}

.extra-action-button
{
    width: max-content;
    padding: 0.5rem 4rem;
    font-size: 16px;
    background-color: #b08f62;
    color: #f9f9f9;
    cursor: pointer;
    transition: all 500ms;

    &:hover
    {
        background-color: #806643;
    }
}

@media (max-width : 980px)
{
    .offers-main
    {
        height: 100%;
        width: 100dvw;
        padding: 100px 0 ;
    }

    .offer-content
    {
        flex-direction: column;
    }

    .offers-container
    {
        max-width: 90%;
    }

    .offers-slider-btn
    {
        width: 100%;
        height: 130px;
        overflow-y: visible;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;
        scrollbar-color: transparent transparent;
        scrollbar-width: 0px;

        a{
            width: 100dvw;
            min-width: calc(100dvw - 11%);
            scroll-snap-align: start;

        }
    }

    .offer-slider
    {
        width: 100%;
        max-width: 100%;
    }

    .offer-form
    {
        min-width: 100%;
        width: 100%;
    }
}
      
