.text-image-block
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 48px;

    .payload-richtext
    {
        min-width: 447px;
        max-width: 495px;
    }

    p
    {
        color: #333333;
        font-size: 16px;
        text-align: justify;

    }

    img{
        height: 550px;
        min-width: 447px;
        max-width: 495px;
        object-fit: cover;
        border-radius: 10px;
    }

    &.reverse
    {
        flex-direction: row-reverse;
    }
}

.title-block
{
    width: 100%;
    text-align: center;
    font-size: 48px;
}

.subtitle-block
{
    width: 80%;
    text-align: center;
    font-size: 30px;
}

.quote-block
{
    color: #1c3856;
    font-size: 28px;
    text-align: center;
    font-style: italic;
    font-weight: bold;
}

.enum-block
{
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.item-enum-block
{
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
    p{
        color: #333333;
    }

    img
    {
        height: 100px;
        object-fit: contain;
    }
}

.question-answer-block
{
    color: #333333;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 8px;
    width: 75%;

    p{
        margin: 0
    }

    .question-text
    {
        line-height: 40px;
        font-weight: bold;
    }

    .question-icon
    {
        font-size: 24px;
        padding: 0.5rem;
        background-color: #b08f62;
        border-radius: 5px;
        color: #f5f5f5;
    }

    .question-answer-collapsable
    {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        .answer-div
        {
            overflow: hidden;
            transition: 300ms;
        }

        &.hide
        {
            .answer-div
            {
                height: 0 !important;
            }
        }
    }

    .question-div
    {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}

.rich-text-block
{
    width: 100%;
    
    p{
        color: #333333;
    }
}

form{
    button
    {
        border: none;
        padding: 0.5rem;
        width: 100%;
        box-sizing: border-box;
        border-radius: 5px;
        font-weight: bold;
        font-size: 24px;
        cursor: pointer;

        &.gold {
            background-color: #b08f62;
            color: #f9f9f9;
        }

        &.white {
            background-color: #f9f9f9;
            color: #1c3856;
        }

        &.blue {
            background-color: #1c3856;
            color: #f9f9f9;
        }
    }
}

.form-part
{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.error-form
{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    background-color: #f8c5c5;
    color: #dd3737;
    font-weight: bold;
    border-radius: 5px;
    padding: 8px;
    margin: 0 8px;

    &.hide
    {
        display: none;
    }

    p {
        margin: 0
    }
}

.call-to-action-block
{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 32px;
    background-color: var(--color-blue);
    border-radius: 10px;


    .call-to-action-text-block
    {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    color: var(--color-white);

    h2{
        color: var(--color-white);
    }
    }

    button, a
    {
        width: 100%;
        text-align: center;

        &:last-child
        {
            border: solid 1px var(--color-white);
        }
    }
}

@media (max-width: 980px)
{
    .text-image-block
    {
        flex-direction: column;

        &.reverse
        {
            flex-direction: column;

            p{
                width: 90%;
                text-align: center;
            }
        }

        img
        {
            width: 90%;
        }

        p{
            width: 90%;
            text-align: center;
        }

        .payload-richtext
        {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    .enum-block
    {
        flex-direction: column;
    }

    .question-answer-block
    {
        width: 90%;

    }

    .rich-text-block
    {
        width: 90%;
    }

    .form-part
    {
        min-width: 100%;
        width: 100%;
    }

    .call-to-action-block
    {
        flex-direction: column;

        .call-to-action-text-block
        {
            width: 100%;
            text-align: center;
        }

        button, a
        {
            width: 100%;
            margin: 0;
        }
    }
}