.text-image-block
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 48px;

    p
    {
        color: #333333;
        font-size: 16px;
        width: 550px;
        text-align: end;

    }

    img{
        width: 550px;
        height: 550px;
        object-fit: cover;
        border-radius: 10px;
    }

    &.reverse
    {
        flex-direction: row-reverse;

        p{
            text-align: start;
        }
    }
}

.title-block
{
    width: 100%;
    text-align: center;
    font-size: 48px;
}

.subtitle-block
{
    width: 80%;
    text-align: center;
    font-size: 30px;
}

.quote-block
{
    color: #1c3856;
    font-size: 28px;
    text-align: center;
    font-style: italic;
    font-weight: bold;
}

.enum-block
{
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.item-enum-block
{
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
    p{
        color: #333333;
    }

    img
    {
        height: 100px;
        object-fit: contain;
    }
}

@media (max-width: 980px)
{
    .text-image-block
    {
        flex-direction: column;

        &.reverse
        {
            flex-direction: column;

            p{
                width: 90%;
                text-align: center;
            }
        }

        img
        {
            width: 90%;
        }

        p{
            width: 90%;
            text-align: center;
        }

        .payload-richtext
        {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    .enum-block
    {
        flex-direction: column;
    }
}