.text-image-block
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 48px;

    p
    {
        color: #333333;
        font-size: 16px;
        width: 550px;
        text-align: end;

    }

    img{
        width: 550px;
        height: 550px;
        object-fit: cover;
        border-radius: 10px;
    }

    &.reverse
    {
        flex-direction: row-reverse;

        p{
            text-align: start;
        }
    }
}

.title-block
{
    width: 100%;
    text-align: center;
    font-size: 48px;
}

.subtitle-block
{
    width: 80%;
    text-align: center;
    font-size: 30px;
}

.quote-block
{
    color: #1c3856;
    font-size: 28px;
    text-align: center;
    font-style: italic;
    font-weight: bold;
}

.enum-block
{
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.item-enum-block
{
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
    p{
        color: #333333;
    }

    img
    {
        height: 100px;
        object-fit: contain;
    }
}

.question-answer-block
{
    color: #333333;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 8px;
    width: 75%;

    p{
        margin: 0
    }

    .question-text
    {
        line-height: 40px;
        font-weight: bold;
    }

    .question-icon
    {
        font-size: 24px;
        padding: 0.5rem;
        background-color: #b08f62;
        border-radius: 5px;
        color: #f5f5f5;
    }

    .question-answer-collapsable
    {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        .answer-div
        {
            overflow: hidden;
            transition: 300ms;
        }

        &.hide
        {
            .answer-div
            {
                height: 0 !important;
            }
        }
    }

    .question-div
    {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}

.rich-text-block
{
    width: 100%;
    
    p{
        color: #333333;
    }
}

@media (max-width: 980px)
{
    .text-image-block
    {
        flex-direction: column;

        &.reverse
        {
            flex-direction: column;

            p{
                width: 90%;
                text-align: center;
            }
        }

        img
        {
            width: 90%;
        }

        p{
            width: 90%;
            text-align: center;
        }

        .payload-richtext
        {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    .enum-block
    {
        flex-direction: column;
    }

    .question-answer-block
    {
        width: 90%;

    }

    .rich-text-block
    {
        width: 90%;
    }
}