.article-topic
{
    width: max-content;
    padding: 4px 16px;
    background-color: #f5f5f5;
    color: #1c3856;
    border-radius: 5px;
    z-index: 1;
    border: solid 1px #d9d9d9;
}

.dyn-pages
{
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
}

.payload-richtext
{
    width: 100%;
    text-align: start;

    p, ul
    {
        color: #333333;
    }

    h1,h2,h3,h4
    {
        color: #1c3856;
    }

    a{
        color: #1c3856;
    }
}

.article-thumbnail-wrapper
{
    width: 100%;
}

.article-thumbnail
{
    height: 550px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.article-infos
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #333333;

}

@media (max-width: 980px)
{
    .dyn-pages
    {
        gap: 30px;
    }

    h1, h2
    {
        line-height: 36px;
    }

    .article-thumbnail-wrapper
    {
        width: 90%;
    }

    .article-thumbnail
    {
        height: 300px;
    }

    .article-infos
    {
        font-size: 20px;

        .article-time-author
        {
            width: 60%;
        }
    }

    .payload-richtext
    {
        width: 90%;
    }
}