.article-topic
{
    width: max-content;
    padding: 4px 16px;
    background-color: #f5f5f5;
    color: #1c3856;
    border-radius: 5px;
    z-index: 1;
    border: solid 1px #d9d9d9;
}

.dyn-pages
{
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
}

.payload-richtext
{
    width: 100%;
    text-align: start;

    p, ul
    {
        color: #333333;
    }

    h1,h2,h3,h4
    {
        color: var(--color-blue);
    }

    a{
        color: var(--color-blue);
        transition: all 300ms;

        &:hover
        {
            text-decoration: underline;
            color: var(--color-gold);
        }
    }
}

.article-thumbnail-wrapper
{
    width: 100%;
}

.article-thumbnail
{
    height: 550px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.article-infos
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #333333;

}

.article-card
{
    height: 500px;
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: aquamarine;
    position: relative;
    transition: all 500ms;
    box-shadow: 0 2px 4px rgba(0, 0, 0 , 0.25);
    text-decoration: none;

    &:visited
    {
        color: inherit;
    }

    img
    {
        position: absolute;
        height: 500px;
        width: 300px;
        object-fit: cover;
        transition: all 500ms;
    }

    &:hover
    {
        transform: scale(1.03);
        box-shadow: 0 2px 8px rgba(0, 0, 0 , 0.25);
        cursor: pointer;

        img
        {
            transform: scale(1.05);
        }
    }

    .article-info
    {
        
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 8px;
        gap: 8px;
        position: relative;
        z-index: 1;

        &::before
        {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            mask: linear-gradient(transparent, black, black);
            background: linear-gradient(0deg,rgba(51, 51, 51, 0.8), transparent);
            backdrop-filter: blur(4px);
            height: 350px;
            width: 100%;
            z-index: 0;
        }
        
        h3
        {
            color: #f5f5f5;
            margin: 0;
        }

        p{
            margin: 0;
            font-size: 14px;
            line-height: 22px;
            z-index: 1;
            color: #f5f5f5;
        }
    }

    .article-topic
    {
        width: max-content;
        padding: 0 16px;
        background-color: #f5f5f5;
        color: #333333;
        border-radius: 5px;
        z-index: 1;
    }
}

@media (max-width: 980px)
{
    .dyn-pages
    {
        gap: 30px;
    }

    h1, h2
    {
        line-height: 36px;
    }

    .article-thumbnail-wrapper
    {
        width: 90%;
    }

    .article-thumbnail
    {
        height: 300px;
    }

    .article-infos
    {
        font-size: 20px;

        .article-time-author
        {
            width: 60%;
        }
    }

    .payload-richtext
    {
        width: 90%;
    }
}