.sidebar-container {
    width: 250px;
    height: 100vh;
    background-color: #d9d9d9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
}

.sidebar-logo{
    width: 200px;
}

.sidebar-menu
{

}

.sidebar-links
{
    display: flex;
    flex-direction: column;
    gap: 8px;

    p
    {
        margin: 0;
        line-height: 16px;
        color: #1c3856;
    }
    
}

.sidebar-link
{
    color: #1c3856;
    padding: 0 16px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;

    &.active
    {
        font-weight: bold;
        background-color: #1c385659;
    }

    &:hover
    {
        background-color: #1c385659;
    }

    &, &:visited, &:link{
        text-decoration: none;
    }

    svg
    {
        width: 16px;
        height: 16px;
    }
}

.sidebar-footer
{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.sidebar-user-info
{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
    transition: all 300ms ease;
    border-radius: 5px;
    text-decoration: none;

    &:hover{
        background-color: #f5f5f5;
        
    }

}

.sidebar-user-avatar
{
    width: 50px;
    height: 50px;
    min-width: 50px;
    border-radius: 25px;
    margin-right: 8px;
    background-color: #f5f5f5;
}

.sidebar-user-text
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #1c3856;
    font-size: 14px;
    max-width: 150px;

    *{
        line-height: 16px;
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.sidebar-logout-button
{
    color: #1c3856;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    background-color: transparent;
    transition: all 300ms ease;
    width: max-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;

    &:hover{
        background-color: #f5f5f5;

    }

    svg{
        height: 16px;
    }
}