.sidebar-container {
    width: 250px;
    min-width: 250px;
    height: 100vh;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
    transition: all 300ms ease;
    position: sticky;
    top:0;

    &.reduced
    {
        width: 80px;
        min-width: 80px;

        .sidebar-logo{
            display: none;
        }

        .sidebar-category{
            opacity: 0;
        }

        .sidebar-link {
            height: 32px;

            p{
                display: none;
            }
        }

        .sidebar-handler-wrapper
        {
            justify-content: flex-end;
        }

        .sidebar-header
        {
            justify-content: center;
        }

        .sidebar-user-text
        {
            display: none;
        }

        .sidebar-user-avatar
        {
            width: 32px;
            height: 32px;
            min-width: 32px;
        }

        .sidebar-logout-button
        {
            justify-content: center;

            p{
                display: none;
            }
        }
    }
}

.sidebar-header
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.sidebar-logo{
    width: 150px;
}

.sidebar-handler-wrapper
{
    position: relative;
    height: 24px;
    width: 24px;
    background-color: #1c3856;
    border: none;
    border-radius: 2px;
    display: flex;
    justify-content: flex-start;
    padding: 2px;
    transition: all 300ms ease;
}

.sidebar-handler-content
{
    height: 100%;
    width: 50%;
    
    background-color: #f5f5f5;
    border-radius: 1px;
    
}


.sidebar-menu
{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.sidebar-links
{
    display: flex;
    flex-direction: column;
    gap: 12px;

    .sidebar-category
    {
        margin: 0;
        line-height: 16px;
        color: #1c3856;
    }
    
}

.sidebar-link
{
    color: #1c3856;
    padding: 0 16px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;

    &.active
    {
        font-weight: bold;
        background-color: #1c385659;
    }

    &:hover
    {
        background-color: #1c385659;
    }

    &, &:visited, &:link{
        text-decoration: none;
    }

    svg
    {
        width: 16px;
        height: 16px;
    }

    p{
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.sidebar-footer
{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.sidebar-user-info
{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
    transition: all 300ms ease;
    border-radius: 5px;
    text-decoration: none;
    overflow: hidden;

    &:hover{
        background-color: #d9d9d9;
        
    }

}

.sidebar-user-avatar
{
    width: 50px;
    height: 50px;
    min-width: 50px;
    border-radius: 25px;
    margin-right: 8px;
    background-color: #d9d9d9;
    transition: all 300ms ease;
}

.sidebar-user-text
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #1c3856;
    font-size: 14px;
    max-width: 150px;

    *{
        line-height: 16px;
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.sidebar-logout-button
{
    color: #1c3856;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    background-color: transparent;
    transition: all 300ms ease;
    width: max-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    overflow: hidden;

    &:hover{
        background-color: #d9d9d9;

    }

    p{
        margin: 0;
    }

    svg{
        height: 16px;
    }
}