*
{
    box-sizing: border-box;
    font-family: "Open-Sans", sans-serif;
}

.offers-main
{
    min-height: 100dvh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 100px;

    .payload-richtext
    {
        color: #333333;
    }
}

.offers-container
{
    width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.offers-slider-btn
{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 8px;

    a
    {
        position: relative;
        width: 100%;
        height: 100px;
        background-color: #d9d9d9;
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        gap: 16px;
        align-items: center;
        justify-content: flex-start;
        padding: 1rem;
        text-decoration: none;

        &.active
        {
            background-color: #1c3856;

            h3
            {
                color: #f9f9f9;
            }
        }

        &.active::after
        {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translate(-50%, -50%) rotateZ(45deg);
            display: flex;
            align-self: center;
            justify-items: center;
            width: 40px;
            height: 40px;
            background-color: #1c3856;
        }

    }
}

.offer-icon
{
    background-color: #b08f62;
    border-radius: 50%;
    height: 75px;
    width: 75px;
    display: flex;
    justify-content: center;
    align-items: center;

    &.gold {
        background-color: #b08f62;
    }

    &.green {
        background-color: #6BB062;
    }

    &.blue {
        background-color: #6278B0;
    }

    &.red {
        background-color: #B0626C;
    }

    svg
    {
    color: #333333;
    height: 40px;
    width: auto;
    }
}

.offer-card
{
    background-color: var(--color-blue);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
    min-width: calc(300px - 0.5rem);
    position: relative;

    --b: 5px;   /* thickness of the border */
    --c: var(--color-gold);   /* color of the border */
    --w: 50px;  /* width of border */
    --r: 10px;  /* radius */

    h3,h4, p
    {
        color: var(--color-white);
    }

    h4{
        width: 100%;
        text-align: center;
    }

    ul{
        list-style: initial;
        margin: 0 20px;
        flex-grow: 1;
    }

    /*&:hover
    {
        &::before {
        content: "";
        position: absolute;
        inset: 0;
        background: var(--c,red);
        padding: var(--b);
        border-radius: var(--r);
        -webkit-mask:
            linear-gradient(  0deg,#000 calc(2*var(--b)),#0000 0) 50% var(--b)/calc(100% - 2*var(--w)) 100% repeat-y,
            linear-gradient(-90deg,#000 calc(2*var(--b)),#0000 0) var(--b) 50%/100% calc(100% - 2*var(--w)) repeat-x,
            linear-gradient(#000 0 0) content-box,
            linear-gradient(#000 0 0);
        -webkit-mask-composite: destination-out;
                mask-composite: exclude;
        }
    }*/
}

.methode-call-to-action
{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 32px;
    background-color: var(--color-blue);
    border-radius: 10px;


    .methode-call-to-action-text
    {
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: left;
    color: var(--color-white);

    h2{
        color: var(--color-white);
    }
    }

    button, a
    {
    width: 25%;

    &:last-child
    {
        border: solid 1px var(--color-white);
    }
    }
}

.offer-content
{
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-top: 30px;
}

.offer-slider
{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    max-width: calc(100% - 458px);
    width: calc(100% - 458px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: auto;
    scrollbar-color: transparent transparent;
    scrollbar-width: none;

    .offer-infos
    {
        min-width: 100%;
        scroll-snap-align: start;

        h4,h5, p
        {
            margin: 0;
            color: var(--color-white);
        }

        h4
        {
            font-size: 22px;
        }

        h5
        {
            font-size: 19px;
            font-weight: 500;
        }

        p
        {
            font-size: 16px;
            
        }
    }
}


.offer-form
{
    display: flex;
    flex-direction: column;
    gap: 8px;
    min-width: 450px;
    background-color: #1c3856;
    border-radius: 10px;
    padding: 12px;

    h4
    {
        color: #f9f9f9;
        margin: 0;
        text-align: center;
        font-size: 32px;
    }
}

.offer-usps
{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px;
}

.usp
{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    

    svg
    {
        background-color: #1c3856;
        padding: 0.5rem;
        border-radius: 50%;
        color: #f9f9f9;
        height: 20px;
        width: 20px;
    }

    p{
        color: #333333;
        font-size: 16px !important;
    }
}

.extra-action-button
{
    border-radius: 5px;
    border: none;
    width: max-content;
    padding: 0.5rem 4rem;
    font-size: 16px;
    background-color: #b08f62;
    color: #f9f9f9;
    cursor: pointer;
    transition: all 500ms;

    &:hover
    {
        background-color: #806643;
    }
}

@media (max-width : 980px)
{
    main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .offers-main
    {
        height: 100%;
        width: 95%;
        margin-bottom: 16px;
    }

    .offer-content
    {
        flex-direction: column;
    }

    .offers-container
    {
        max-width: 90%;
    }

    .offers-slider-btn
    {
        width: 100%;
        height: 130px;
        overflow-y: visible;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;
        scrollbar-color: transparent transparent;
        scrollbar-width: 0px;

        a{
            width: 100dvw;
            min-width: calc(100dvw - 11%);
            scroll-snap-align: start;

        }
    }

    .offer-slider
    {
        width: 100%;
        max-width: 100%;
    }

    .offer-form
    {
        min-width: 100%;
        width: 100%;
    }
    
    .methode-call-to-action
    {
        flex-direction: column;

        .methode-call-to-action-text
        {
            width: 100%;
            text-align: center;
        }

        button, a
        {
            width: 100%;
            margin: 0;
        }
    }
}
      
