.input-group
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: "Open-sans", sans-serif;

    label
    {
        line-height: 20px;
        color: #f9f9f9;
    }

    input, textarea, select
    {
        padding: 0.5rem;
        border-radius: 5px;
        border: none;
        outline: #b08f62;
        width: 100%;
        background-color: var(--color-white);
        color: black;
    }
}

.checkbox-group
{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    font-family: "Open-sans", sans-serif;

    label
    {
        line-height: 20px;
        color: #f9f9f9;
    }

    input
    {
        border-radius: 5px;
        border: none;
    }
}